td {
    border:4px solid;
    width: 60px;
    height: 60px;
}
div {
    margin:0 auto;
    width:20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}
span {
    display:block;
    margin: 0 auto;
    font-size: 38px;
    font-weight: bold;
    text-align: center;

}